body {
    background-color: lavender;
    color: steelblue;
}

h1 {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

ul {
    display: none;
    list-style-type: none;
}

li a{
    text-decoration: none;
    display: block;
    padding: 17px 25px;
    color: steelblue;
    border-bottom: 1px solid;
}

li:last-child a{
    border-bottom:none;
}

table {

}

thead {
    text-align: center;
}

#toggle {
    top: 17px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#detail_add_btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}